@import './utils/mixins';
@import './utils/variables';

@import './base/resets';
@import './base/breakpoints';
@import './base/typography';

@import './layout/header';
@import './layout/navbar';

@import './components/buttons';

@import './pages/backgroundHeroUser';
@import './pages/inicio';
@import './pages/setingsProfile';
@import './pages/videoUploader';
@import './pages/docuvid';
@import './pages/messageUploader';
@import './pages/messages';
@import './pages/statistics';
@import './pages/error404';

@import './themes/theme-default';
@import './themes/theme-dark';





