.event-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    transition: transform 0.5s;
  }
  
  .event-item.active {
    transform: scale(1.2);
  }
  