.card-img-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.img-simbolo {
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
}

.img {
    
    flex: 1;
    margin-top: .625rem;
    width: 8.75rem;
    height: 8.75rem;
    display: flex;  
    margin-left: 7rem;
    
}

.simbolo{
    flex: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 6.25rem;
    line-height: 7.5625rem;
    color: #ECECEC;
    margin-left: 20px;
    
}

.texto{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 30px;
    color: #ECECEC;

}