@import '../../abstracts/mixins';

.input-nav{

    
    


        #input{
            border-radius: 12em;
            width: 80%;
            margin-top: .5rem;
            margin-left: auto;
            

            #form-input{
                border-radius: 5em;
            }
            
            #button-addon2{
                background-color: white;
                color: black;
                width: auto;
                border-radius: 0em 2em 2em 0em;
                
                
            }
        }

    }
    
