@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.menu-hero {
    display: flex;
    margin-left: auto;  
    
    color: white;
    font-size: large;
    font-weight: 500;
    background-color:$primary;
    border-radius: 0rem 0rem 3.75rem 0rem;
    height: 1.375rem;
    


    ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 38vw;
    margin-right: 20px;

    
      
        
        
        
    }

}