

.titulos-nav{
    color: white;
    font-size: 900px;

    h1{
        font-family: Roboto;
        font-weight: 500;
        font-style: italic;
        size: 1rem;
        line-height: 1rem;


    }

    h2{
        font-family: Roboto;
        font-weight: 200;
        font-style: italic;
        font-size: 2.5rem;
        line-height: 2.93rem;

    }
}