@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';



.barra{
        background: #e2a30b;
        display: flex;
        height: 60px;
        margin-top: 80px;
        position: fixed;
        width: 100%;
        img{
                
                        width: 8%;
                        height: 8%;
                        margin-left: 10px;
                        margin-top: 10px;
                
                        
                        
                
                @include media(lg) {
                        width: 2%;
                        margin-bottom: 0px;
                        height: 30px;
                        margin-top: 15px;
                        
                }
        }

       

        
}

@include media(lg) {
        .container_body{
                display: flex;


}
        
}






.barra-texto{
        margin-left: 10px;
        margin-bottom: 11px;
        margin-top: 15px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 19px;
        color: #073b3a;

        @include media(lg) {
                font-size: 28px;
                    
        }
        
      
}



.container__component__all{
        width: 150px;
    height: 150px;
    border: 2px solid #073b3a;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;

    @include media(lg) {
        width: 200px;
    height: 200px;
    margin-bottom: 0;
    margin-top: 15%;
        
        
}

    
}



.container__component__resources{
        
        background-color: #729e2ed4;
        
}


.container__component__video{
        background: #e2a10bd4;
        
}

.container__component__notification{
        background-color:#009ee3d4;
        
}

.inicio-svg{
        width: 30%;
       margin: auto;
        padding-top: 15%;
             
              }

        



        

.btn-inicio{
        font-family: inter;
        font-weight: 700;
        font-size: 1.4rem;
        color: #073b3a;
        margin: auto;
        margin-top: 15%;
        line-height: 1.5rem;


}