//@mixin flexible ($dis, $direction, $corte, $just, $align) {
//display: $dis;
//flex-flow: $direction $corte;
//justify-content: $just;
//align-items: $align;
//}

$breakpoints: (
    sm:375px,
    md:768px,
    lg:1024px
);

@mixin media($breakpoint) {
    @if map-has-key($map: $breakpoints, $key: $breakpoint) {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "Breakpoint `#{$breakpoint}` no encontrado en `$breakpoints` map.";
    }
}

$breakpoints: (
    sm:375px,
    md:768px,
    lg:1024px
);

@mixin media($breakpoint) {
    @if map-has-key($map: $breakpoints, $key: $breakpoint) {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "Breakpoint `#{$breakpoint}` no encontrado en `$breakpoints` map.";
    }
}


@mixin background_color($bg_color) {
    background-color: $bg_color;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
}

@mixin background_image_fixed($path) {
    height: 100%;
    width: 100%;
    background-image: url(#{$path});
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@mixin background_image_normal($path) {
    height: 100%;
    width: 100%;
    background-image: url(#{$path});
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
}

@mixin href_sections {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}

@mixin svg_call_to_action_mobile_left($path){
    background-image: url(#{$path});
    width: 9.375rem;
    height: 6.875rem;
    stroke-width: 1;
}
@mixin svg_call_to_action_mobile_right($path){
    background-image: url(#{$path});
    width: 9.375rem;
    height: 6.875rem;
    stroke-width: 1;
}

@mixin svg_call_to_action_desktop_left($path){
    background-image: url(#{$path});
    width: 9.375rem;
    height: 13rem;
    stroke-width: 1;
}
@mixin svg_call_to_action_desktop_right($path){
    background-image: url(#{$path});
    width: 9.375rem;
    height: 13rem;
    stroke-width: 1;
}

@mixin svg_card_mobile_left($path) {
    background-image: url(#{$path});
    height: 4rem;
    width: 4rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}


@mixin svg_card_desktop_letf($path) {
    background-image: url(#{$path});
    height: 10rem;
    width: 10rem;
    margin-left: 10%;
    opacity: 70%;
}

@mixin svg_card_mobile_right($path) {
    background-image: url(#{$path});
    height: 4rem;
    width: 4rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
}

@mixin svg_card_desktop_right($path) {
    background-image: url(#{$path});
    height: 10rem;
    width: 10rem;
    margin-right: 10%;
    opacity: 70%;
}

@mixin img_card_mobile($path) {
    background-image: url(#{$path});
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    display: block;
    max-width: 70%;
    height: auto;
    margin: 0;
    border-radius: 20px 20px 0px 20px;
}

@mixin img_card_desktop($path) {
    background-image: url(#{$path});
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    display: block;
    max-width: 70%;
    height: auto;
    margin: 0;
    border-radius: 100px 100px 0px 100px;
}



@mixin h1_mobile {
    font-family: Roboto;
    font-weight: 900;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 2.9375rem;
    color: #ECECEC;
}

@mixin h1_desktop {
    font-family: Roboto;
    font-weight: 900;
    font-style: italic;
    font-size: 7.5rem;
    line-height: 8.8125rem;
    color: #ECECEC;
}

@mixin h2_mobile($font_family) {
    font-family: $font_family;
    font-weight: 200;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 2.9375rem;
    color: #ECECEC;
}

@mixin h2_mobile($font_family) {
    font-family: $font_family;
    font-weight: 200;
    font-style: italic;
    font-size: 7.5rem;
    line-height: 8.8125rem;
    color: #ECECEC;
}

@mixin btn_text_mobile {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.0625rem;
}

@mixin btn_text_desktop {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 3.8125rem;
}

@mixin paragraph_desktop($color) {
    color: $color;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
}

@mixin paragraph_mobile($color) {
    color: $color;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

@mixin navbar ($width, $height) {
    width: $width;
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #E2A30B;
}

@mixin ul {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 70%;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;
    background-color: #E2A30B;
    margin-right: 3%;
    margin-bottom: 3%;
}

@mixin li {
    li:not(:last-child) {
        border-right: 1px solid white;
    };
}

@mixin li_img{
    margin: 0;
    padding: 1px;
    height: 1.375rem;
    filter: brightness(0) invert(1);
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

@mixin li_anchor{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}