$primary:#E2A30B;


//background
$background_hero: url('../../assets/img/background.jpg');
$background_call_to_action: url('../../assets/img/bg2.png');

//svg
$svg_logo_hero: url('../../assets/img/Logo1.svg');
$svg_logo_footer: url('../../assets/img/logo3.svg');
$svg_call_to_action_letf : url('../../assets/img/llave1.svg');
$svg_call_to_action_right : url('../../assets/img/llave2.svg');
$svg_card1:url('../../assets/img/_Menor.svg');
$svg_card2:url('../../assets/img/Slash.svg');
$svg_card3:url('../../assets/img/_Mayor.svg');
$svg_footer_icon1: url('../../assets/instagram.svg');
$svg_footer_icon2: url('../../assets/facebook.svg');
$svg_footer_icon3: url('../../assets/twiter.svg');



//img
$img_card1: url('../../assets/img/card1.png');
$img_card2: url('../../assets/img/card2.png');
$img_card3: url('../../assets/img/card3.png');


