

.footer {
    background: #073B3A;

    h2 {
        color: #ECECEC;
        text-align: center;
        margin-top: 6%;
        font-size: 17px;
    }

    .ico-imput {
        display: flex;
        justify-content: center;

        .caja-icono {
            background-color: white;
            border-radius: 100px 100px 0em 100px;
            transform: rotate(-45deg);
            height: 2.275rem;
            width: 2.275rem;
            margin-top: 0.4375rem;

            img {
                
                transform: rotate(45deg);
                width: 85%;
                display: flex;
                margin-left: 0.1875rem;
               

            }

            .icon {
                transform: rotate(45deg);
            }
        }
        .iconofotter{
            color: #073B3A;
        }
    }

    .contactos {
        color: #ECECEC;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;
    }

    .redes {
        color: #ECECEC;
        text-align: center;

        .icon-redes {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            font-size: 35px;
            margin-top: 1.5rem;

        }

    }

    .logo-and-title {
        border-top: .0625rem solid white;
        justify-content: center;
        display: flex;
        align-items: end;
        flex-direction: row;
        margin-top: 2rem;
        padding-top: 2rem;
        margin-bottom: 2rem;

        .titles {
            display: flex;
            align-items: end;
            justify-content: flex-end;
            flex-direction: column;
           
            margin-left: 10px;
            
            

            h2 {
                color: #ECECEC;
                font-family: Roboto;
                font-style: italic;
                font-weight: 900;
                font-size: 1.25rem;
                line-height: 1.4375rem;
                margin-bottom: 0.1rem;
                

            }

            h3 {
                color: #ECECEC;
                font-family: Roboto;
                font-style: italic;
                font-weight: 200;
                font-size: 1.25rem;
                line-height: 1.4375rem;
                margin-right: auto;
                
            }

        }
    }

    .logo-footer {
    
        height: 102px;
        width: 102px;
        left: 93px;
        top: 3265px;
        

    }

}

