.background-call-to-action{
    height: 100%;
    background-color: #073B3A;
   background-image: url('../../../../assets/img/bg2.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 0rem 0rem 1.5rem 0rem;
    
    
    
}