@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';

.img-card{
    margin-top: 25%;
}

@include media(lg) {
    .img-card{
        display: flex;
    justify-content: center;
    align-items: center;
        margin-top: 0%;
    img{
        max-width: 70%;
    }
    }
    

}

