@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';


.img-card-1{
    padding-top: 40px;
   

    @include media(lg) {
     
        width: 20rem;
        height: 20rem;
        margin-right: 3%;
        margin-left: auto;
    
        
    }


}