.svg-card2{
    flex: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 6.25rem;
    line-height: 7.5625rem;
    color: #ECECEC;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}