@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';


.svg-card1{
    
    height: 4rem;
    width: 4rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    @include media(lg) {
        height: 10rem;
        width: 10rem;
        margin-left: 10%;
        opacity: 70%;
          
      } 
}