@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';

.text-card1 {
    p {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.875rem;
        color: white;
        padding-top: .3125rem;
        padding-right: .9375rem;
        padding-bottom: 0;
        padding-left: .9375rem;
        text-align: justify;
        overflow: hidden;
        height: 100%;
        @include media(lg) {
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20%;
        color: black;
            
    }
}
}