@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';

.text-card1 {
    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.6rem;
        color: white;
        padding-top: 0.3125rem;
        padding-right: 10%;
        padding-bottom: 0;
        padding-left: 10%;
        text-align: justify;
        overflow: hidden;
        height: 100%;
        @include media(lg) {
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20%;
        color: black;
            
    }
}
}