.text-card2 {
    p {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.875rem;
        color: white;
        padding-top: .3125rem;
        padding-right: .9375rem;
        padding-bottom: 0;
        padding-left: .9375rem;
        text-align: justify;
        overflow: hidden;
        height: 100%;
    }
}