@import '../abstracts/_mixins.scss';
@import '../abstracts/_variables.scss';

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .2fr .1fr .6fr .5fr 1fr 1fr 1fr .5fr 1fr .5fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .background-hero { grid-area: 1 / 1 / 4 / 4; }
  
  .imput-hero { grid-area: 1 / 2 / 2 / 4; }
  
  .logo-hero { grid-area: 2 / 1 / 3 / 2; }
  
  .title-hero { grid-area: 2 / 2 / 3 / 3; }
  
  .btn-hero { grid-area: 2 / 3 / 3 / 4; }
  
  .menu-hero { grid-area: 3 / 2 / 4 / 4; }
  
  .background-call-to-action { grid-area: 4 / 1 / 5 / 4; }
  
  .call-to-action { grid-area: 4 / 1 / 5 / 4; }
  
  .background-comunidad { grid-area: 5 / 1 / 6 / 4; }
  
  .comunidad { grid-area: 5 / 1 / 6 / 4; }
  
  .background-card1 { grid-area: 6 / 1 / 7 / 4; }
  
  .card1 { grid-area: 6 / 1 / 7 / 4; }
  
  .background-card2 { grid-area: 7 / 1 / 8 / 4; }
  
  .card2 { grid-area: 7 / 1 / 8 / 4; }
  
  .background-card3 { grid-area: 8 / 1 / 9 / 4; }
  
  .card3 { grid-area: 8 / 1 / 9 / 4; }
  
  .background-experiencia { grid-area: 9 / 1 / 10 / 4; }
  
  .experiencia { grid-area: 9 / 1 / 10 / 4; }
  
  .background-carousel1 { grid-area: 10 / 1 / 11 / 4; }
  
  .carousel1 { grid-area: 10 / 1 / 11 / 4; }
  
  .background-actividades { grid-area: 11 / 1 / 12 / 4; }
  
  .actividades { grid-area: 11 / 1 / 12 / 4; }
  
  .background-carousel2 { grid-area: 12 / 1 / 13 / 4; }
  
  .carousel2 { grid-area: 12 / 1 / 13 / 4; }
  
  .background-footer { grid-area: 13 / 1 / 15 / 4; }
  
  .footer { grid-area: 13 / 1 / 15 / 4; }
  