@import '../abstracts/_mixins.scss';
@import '../abstracts/_variables.scss';


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .1fr .3fr .1fr 1fr .5fr .5fr .3fr .5fr .3fr .2fr .3fr .5fr .5fr .5fr .5fr .5fr .5fr 1fr 1fr;
  gap: 13px 0px;
  grid-auto-flow: row;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  min-width: 100%;

  @include media (md) {
    grid-template-rows: .1fr .3fr .2fr 1fr .5fr .5fr .3fr .5fr .3fr .5fr .3fr .5fr .5fr .5fr .5fr .5fr .5fr 1fr 1fr;
  }

  @include media (lg) {
    grid-template-rows: .1fr .3fr .2fr 1fr .5fr .5fr .01fr  .5fr  .01fr  .5fr  .01fr  .5fr .5fr .5fr .5fr .5fr .5fr 1fr 1fr;
  }
}

.header {
  grid-area: 1 / 1 / 4 / 4;
}

.bg-hero {
  grid-area: 1 / 1 / 4 / 4;
  height: 3fr;
}

.imput-hero {
  grid-area: 1 / 2 / 2 / 4;
  @include media(lg){
    grid-area:1/2 2/4 ;
  }

}

.btn-hero {
  grid-area: 2 / 3 / 3 / 4;
  @include media(lg){
    grid-area:2/3 3/4 ;
  }
}

.titles-hero {
  grid-area: 2 / 2 / 3 / 3;
  @include media(lg){
    grid-area:2/2  3/3;
  }
}

.logo-hero {
  grid-area: 2 / 1 / 3 / 2;
  @include media(lg){
    grid-area:2/1  3/2;
  }
}

.menu-nav {
  grid-area: 3 / 2 / 4 / 4;
  height: 1fr;
  @include media(lg){
    grid-area:3/2 4/4;
  }
}

.body {
  grid-area: 4 / 1 / 18 / 4;
}

.bg-call-to-action {
  grid-area: 4 / 1 / 5 / 4;
  height: 1fr;
}

.call-to-action {
  grid-area: 4 / 1 / 5 / 4;
  
}

.bg-comunidad {
  grid-area: 5 / 1 / 6 / 4;
}

.comunidad {
  grid-area: 5 / 1 / 6 / 4;
}

.bg-card1 {
  grid-area: 6 / 1 / 8 / 4;
  height: 2fr;

}

.svg-card1 {
  grid-area: 6 / 1 / 7 / 2;

  @include media(lg) {}
  grid-area: 6 / 1 / 7 / 2;

}

.img-card1 {
  grid-area: 6 / 2 / 7 / 3;

  @include media(lg) {
    grid-area: 6/3 ;
  }

}

.text-card1 {
  grid-area: 7 / 1 / 8 / 4;
  height: 1fr;

  @include media(lg) {
    grid-area: 6/2 ;
  }


}

.bg-card2 {
  grid-area: 8 / 1 / 10 / 4;
  height: 2fr;
}

.svg-card2 {
  grid-area: 8 / 1 / 9 / 2;
  @include media(lg) {
    grid-area: 8/1  9/2;
  }

}

.img-card2 {
  grid-area: 8 / 2 / 9 / 3;

  @include media(lg) {
    grid-area: 8/3 ;
  }
}


.text-card2 {
  grid-area: 9 / 1 / 10 / 4;
  height: 1fr;

  @include media(lg) {
    grid-area: 8/2;
  }
}

.bg-card3 {
  grid-area: 10 / 1 / 12 / 4;
  height: 2fr;

}

.img-card3 {
  grid-area: 10 / 2 / 11 / 3;

   @include media(lg) {
    display: grid;
    
    grid-template-areas: "imagen";
    grid-area:  imagen;
    grid-area: 10/01 ;
    
    
  } 
}

.text-card3 {
  grid-area: 11 / 1 / 12 / 4;
  height: 1fr;

  @include media(lg) {
    grid-area: 10/2 /11/3;
  }
}

.bg-experiencia {
  grid-area: 12 / 1 / 13 / 4;
  height: 1fr;
}

.experiencia {
  grid-area: 12 / 1 / 13 / 4;
}

.bg-carousel1 {
  grid-area: 13 / 1 / 15 / 4;
  height: 1fr;
}

.carousel1 {
  grid-area: 13 / 1 / 15 / 4;
  height: 1fr;
}

.bg-agenda {
  grid-area: 15 / 1 / 16 / 4;
  height: 1fr;
}

.agenda {
  grid-area: 15 / 1 / 16 / 4;
  height: 1fr;
}

.bg-carousel2 {
  grid-area: 16 / 1 / 18 / 4;
  height: 1fr;
}

.carousel2 {
  grid-area: 16 / 1 / 18 / 4;
  height: 1fr;
}

.footer {
  grid-area: 18 / 1 / 20 / 4;
  height: 1fr;


  .logo-and-title {

    .logo-footer {
      img {
        @include media(lg) {
          grid-area: 19/3;
        }
      }
    }
  }
}

.bg-footer {
  grid-area: 18 / 1 / 20 / 4;
  height: 1fr;
}

.footer-content {
  grid-area: 18 / 1 / 20 / 4;
  height: 1fr;
}

.svg-card3 {
  grid-area: 10 / 3 / 11 / 4;
  @include media(lg){
    grid-area:10/3/11/4 ;
  }
}