@import "../utils/mixins";
@import "../utils/variables";
@import "../base/breakpoints";
@import "../base/base";

.container-recive-info {
    label {
      background: $usergeendark;
      width: 140px;
      padding-left: 13px;
      @include media (lg){
        width: 190px;
      }
  
      h2 {
        margin: 5% 5%;
      }
    }
  
    input {
      background: $usergeenligth;
      width: 100vw;
      padding-left: 13px;
      margin-bottom: 10px;
  
      h2 {
        margin: 5% 5%;
      }
    }
  }
  
  .recive_input {
    height: 40px;
  }
  .recive_input-height {
    height: 200px;
    overflow-y: scroll;
  }
  
  .imagen-uploader {
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 6%;
      width: 20%;
      @include media (lg){
        width: 30%;
      }
      h2, p{
        color: $usergeendark;
      }
      @include media(lg) {
        display: flex;
        justify-content: center;
        img {
          width: 10%;
        }
        
        img {
          width: 30%;
        }
      }
    }
    input[type="file"] {
      margin-left: 4%;
    }
  }
  