@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';



.logo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .2rem;
  width: 100%;
  

}

.imagen {
  width: 95%;
  height: 95%;
  margin-left: 10%;
}

.logo-nav .imagen:hover {
  transform: scale(0.5);
}

/*@include media(md) {
  .logo-nav {
    display: flex;
    justify-content: left;
    margin-right: .2rem;
    margin-left: 3%;
  
  }
}*/