@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';



.logo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .2rem;
  width: 100%;
  

}

.imagen {
  width: 95%;
  height: 95%;
  margin-left: 10%;
}

@include media(lg){
  .imagen {
    width: 50%;
   
} 
}
