@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';

/* .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    border-radius: 0rem 0rem 3.75rem 0rem;
    height: 80%;
    width: 12rem;
    margin-left: auto;
    margin-top: auto;
    padding-bottom: auto;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: auto;
    margin: 0;
    width: 100%;
    
}

.items li {
    
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-right: auto;
    padding-right: .3125rem;
    
     
  }
  
  
  
  .items li:first-child::before {
    display: none;
  }
  
  .items li .icon-container {
    position: relative;
    margin: 0 5px;
    height: 100%;
    width: 100%;
  }
  
  .items li .icon-container img {
    height: 10px;
    width: 100%;
  }

.items li img {
    margin: 0;
    padding: 0;
    height: 1.375rem;
    filter: brightness(0) invert(1);
    justify-content: space-between;
    width: 100%;
  }

  .items li:not(:last-child) {
    border-right: 1px solid white; 
    
  } */
  .menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .3125em;
  }

  .menu-list {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 70%;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;
    background-color: $primary;
    border-radius: 0rem 0rem 3.75rem 0rem;
  }
  
  .menu-item {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;
  }

  .menu-list li img {
    margin: 0;
    padding: 1px;
    height: 1.375rem;
    filter: brightness(0) invert(1);
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  .menu-list li:not(:last-child) {
    border-right: 1px solid white; 
  }