@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';

.titulos-nav{
    color: white;
    margin-left: .625rem;
    

    h1{
        font-family: Roboto;
        font-weight: 900;
        font-style: italic;
        font-size: 2.5rem;
        line-height: 2.9375rem;
    }

    h2{
        font-family: Roboto;
        font-weight: 200;
        font-style: italic;
        font-size: 2.5rem;
        line-height: .90rem;
    }
}

@include media(md) {
    .titulos-nav{
        color: white;
        
    
    }
}