@import "../utils/mixins";
@import "../utils/variables";
@import "../base/breakpoints";
@import "../base/base";

.container-bg {

    background-image: url('../../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 0.5rem;
    background-clip: padding-box;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
   
    

}

.bg  {

    img{
        height: 100%;
    }
    
    z-index: -1;
    height: 100%;
}
@include media(lg){
    
    
}
