@import "../utils/mixins";
@import "../utils/variables";
@import "../base/breakpoints";
@import "../base/base";




.barra-navbar-video{
    justify-content: space-between;
}

.container-componentvideo_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media (lg){
        flex-direction: row;
    }
    
}

.body-button-edit{
    display: flex;
    justify-content: space-around;
    button{
        height: 35px;
        width: 80px;
        background-color: $useryellowdark;
    }
        
    }

.container-component-video-info{
   margin-bottom: 8%;
    @include media (lg){
        margin-left: 8%;
    }
    h2{
        background-color: $usergeenligth;
    }
    p{
        background-color:$usergeenligth;
    }
}
    


