@import '../utils/mixins';
@import '../utils/variables';
@import "../base/breakpoints";
@import "../base/base";


.container-error-movil{
    background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}