@import "../utils/mixins";
@import "../utils/variables";
@import "../base/breakpoints";
@import "../base/base";

.barra {
  background: $useryellowdark;
  display: flex;
  height: 60px;
  position: fixed;
  width: 100%;
  @include media(lg) {
      top: 230px;
  }

  h2 {
    margin-left: 10px;
    margin-bottom: 11px;
    margin-top: 15px;
    color: #073b3a;
  
    
  }
}

.svg-img-barra{
  
      width: 8%;
      height: 8%;
      margin-left: 10px;
      margin-top: 10px;
    
      @include media(lg) {
        width: 2%;
        margin-bottom: 0px;
        height: 30px;
        margin-top: 15px; 
    }

}

.container-body-all{
  margin-top: 100px;
  @include media(lg) {
    margin-top: 350px;
    position: fixed;
  
  }

}
.container-inicio_body{
@include media(lg) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
  }
}




.container-inicio_component_all {
  width: 150px;
  height: 150px;
  border: 2px solid $usergeendark;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 15px;
 

  @include media(lg) {
    width: 200px;
    height: 200px;
    margin-bottom: 0;
    margin-top: 15%;
  }
  img {
    width: 30%;
    margin: auto;
    padding-top: 15%;
  }
  
  button {
    font-family: inter;
    font-weight: 700;
    font-size: 1.4rem;
    color: $usergeendark;
    margin: auto;
    margin-top: 15%;
    line-height: 1.5rem;
  }
  
}


.container-inicio_component-background_resources {
  background: $usergeenligth;
}

.container-inicio_component-background_video {
  background: $useryellowdark;
}

.container-inicio_component-background_notification {
  background: $userblue;
}

