@import "../utils/mixins";
@import "../utils/variables";
@import "../base/breakpoints";
@import "../base/base";
@import "../base/typography";



.container-body-notification{
    margin-top: 260px;
    @include media(lg) {
      margin-top: 350px;
      
    }
  
  }
  
  .active{
    h2{
      border-bottom: solid 7px;
    margin-bottom: 3px;
    }  
  }
  
.notification-box{
    background: $usergeenligth;
      width: 100vw;
      height: min-content;
      overflow: scroll;
      margin-bottom: 10px;
      @include media(lg) {
        margin-left: 23px;
        width: 97vw;
      }  
      h2{
        padding: 8px;
      }
      p{
        line-height: 1.2rem;
        padding: 8px;
        @include media (lg){
          line-height: 1.8rem;
        }
      }  
      
}


