@import "../utils/mixins";
@import "../utils/variables";
@import "../base/breakpoints";
@import "../base/base";
@import "../base/typography";



.container-body-notification{
    margin-top: 260px;
    @include media(lg) {
      margin-top: 350px;
      
    
    }
  
  }

.notification-box{
    background: $usergeenligth;
      width: 100vw;
      height: min-content;
      overflow: scroll;
      padding-left: 13px;
      margin-bottom: 10px;
      p{
        line-height: 1.2rem;
      }
      

}
