@import '../utils/mixins';
@import '../utils/variables';
@import "../base/breakpoints";
@import "../base/typography";
@import "../base/base";



.container-settings_body{
    margin-left: 5%;
    margin-right: 5%;
}

.container-settings_body-profile{
    display: flex;
    justify-content: space-between;
}

.body-button-all{
    background-color: $useryellowdark;
    height: 35px;
    width: 80px;
}

.container-settings_body-edit{
    input{
        background-color:$userwinterwhite;
        border: 2px solid $usergeendark;
    }
}


.body-button-edit-all{
    display: flex;
    justify-content: end;
    

    button{
        height: 35px;
        width: 80px;
        margin-top: 4%;
        background-color: $useryellowdark;
        margin-right: 2%;
    }
}
