@import "../utils/mixins";
@import "../utils/variables";
@import "../base/breakpoints";
@import "../base/base";

#navbar-user {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;

  @include media(lg) {
    position: fixed;
    top: 190px;
    width: 100%;
    height: 80px;
  }
}

.navbar-admin-all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  @include media (lg){
    justify-content: flex-end;
    
  }
  img{
    width: 70%;
    margin: auto;
    @include media (lg){
      width: 40px;
      height: 40px;
    margin-right: 35px;
      
    }

  }
}

.navbar-background {
  background: $usergeendark;
}


