@import "../utils/mixins";
@import "../utils/variables";
@import "../base/breakpoints";
#navbar-user {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;

  @include media(lg) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
  }
}

.navbar-admin-all {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  img{
    width: 20%;
  }
}

.navbar-background {
  background: $usergeendark;
}


