@import "../utils/mixins";
@import "../utils/variables";
@import "../base/breakpoints";
@import "../base/base";

.navbarvideo {
  background: $userwhite;
 


  
}

.container-video {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a.Link {
       
      h2 {
        color: $usergeendark;
        margin-top: 7px;
        margin-bottom: 20px;
      }
    }
  }
